@page "/Ordenes/OrdenConfirmada"

<center>
    <h3>Pedido confirmado</h3>
    <img src="/imagenes/Shopping.png" width="300" />
    <p>Su pedido a sido confirmado. En pronto recibirá sus productos, muchas gracias</p>
    <a href="/" class="btn btn-primary">Regresar al Inicio</a>
</center>