@page "/"
@using Sales.Mobile.Services
@inject ICategoriasService categoriasService
@inject SweetAlertService sweetAlertService

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if(categorias is null)
{
    <p>No hay categorias para mostrar</p>
}
else
{
    <div class="card">
        <div class=" card-header">
            <span>
                <i class="oi oi-spreadsheet" />&nbsp;Categorías
                <a class="btn btn-sm btn-primary float-end"><i class="oi oi-plus"></i>&nbsp;Nueva Categoría</a>
            </span>
        </div>

        <div class="card-body">
            <div class="card-body">
                <div class="mb-2" style="display:flex; flex-wrap:wrap; align-items:center;">
                    <div>
                        <input type="text" style="width:400px" class="form-control" id="titulo" placeholder="Buscar país..."/>
                    </div>

                    <div class="mx-1">
                        <button type="button" class="btn btn-outline-primary"><i class="oi oi-layers" />&nbsp;Filtrar</button>
                        <button type="button" class="btn btn-outline-danger"><i class="oi oi-grid-three-up" />&nbsp;Limpiar</button>
                    </div>
                </div>

                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Categoria</th>
                                <th style="width: 220px"></th>
                                <th style="width: 300px">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var categoria in categorias)
                            {
                                <tr>
                                    <td>@categoria.Nombre</td>
                                    <td></td>
                                    <td>
                                        <a class="btn btn-warning btn-sm"><i class="oi oi-pencil" />&nbsp;Editar</a>
                                        <button class="btn btn-danger btn-sm"><i class="oi oi-trash" />&nbsp;Eliminar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@code{
    private List<Categoria> categorias;

    protected override async Task OnInitializedAsync()
    {
        categorias = await categoriasService.ObtenerCategoriasAsync();
        await sweetAlertService.FireAsync("Mensaje Prueba", "La petición se realizó con éxito", SweetAlertIcon.Success);
    }
}