@page "/estados/crear/{PaisId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Estado</h3>

<EstadoForm @ref="estadoForm" Estado="estado" OnValidSubmit="Crear" ReturnAction="Regresar" />

@code {
    private Estado estado = new();
    private EstadoForm? estadoForm;

    [Parameter]
    public int PaisId { get; set; }

    private async Task Crear()
    {
        estado.PaisId = PaisId;

        var HTTPresponse = await repository.Post("/api/estados", estado);

        if (HTTPresponse.Error)
        {
            var message = await HTTPresponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Regresar();
    }

    private void Regresar()
    {
        estadoForm.formularioEnviado = true;
        navigationManager.NavigateTo($"/paises/detalles/{PaisId}");
    }
}